<div id="main-sidebar" class="sidebar dark-7 dark-shadow{{SIDEBAR_EXTRA}}">
{{DESKTOP_LINKS}}
    <a href="#" data-action="toggle-icons"><img src="../media/icons/new/reload.png" alt="" title="Swap items on page"><b>Swap Icon Style</b></a>
    <hr/>
    <a href="https://nori.fish/wynn/build/" target="_blank"><img src="../media/icons/new/nori_build.png" alt="Build Search" title="Build Search by Nori-Wynn"><b>Build Search</b></a>
    <a href="https://nori.fish/wynn/recipe/" target="_blank"><img src="../media/icons/new/nori_recipe.png" alt="Recipe Search" title="Recipe Search by Nori-Wynn"><b>Recipe Search</b></a>
    <a href="https://discord.gg/CGavnAnerv" target="_blank"><img src="../media/icons/discord.png" alt="WB Discord" title="WB Discord"><b>WB Discord</b></a>
</div>
{{MOBILE_NAV}}
