*.swp
*.bat
*.json
!data/**/*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.*.json

node_modules/
dist/
data/temp/
sets/

.idea/
*.iml
.editor_log.txt

/bin/
/lib/
pyvenv.cfg

__pycache__
